:root{
    --Soft-red: hsl(10, 79%, 65%);
    --Cyan: hsl(186, 34%, 60%);
    --Dark-brown: hsl(25, 47%, 15%);
    --Medium-brown: hsl(28, 10%, 53%);
    --Cream: hsl(27, 66%, 92%);
    --Very-pale-orange: hsl(33, 100%, 98%);

    --light-weight: 400;
    --weight: 700;

    --small-size: 1.4rem;
    --medium-size: 1.6rem;
    --medium2-size1: 1.8rem;
    --big-size: 2rem;
    --bigger-size: 2.4rem;

    --padding-container: 30px 0;
}

/* Balance start */

/* Balance end */

/* Spending grafic start */

.main--spending-grafic--section{
    background-color: var(--Very-pale-orange);
    border-radius: 10px;
    padding: 0 15px;
}

.spending-grafic--title{
    color: var(--Dark-brown);
    font-size: var(--big-size);
    font-weight: 700;
    text-align: center;
}

.main--spending-grafic{
    padding: var(--padding-container);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 10px;
    height: 300px;
    align-items: end;
}

.spending-grafic--item{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
}

.spending-percentage{
    background-color: var(--Soft-red);
    height: 90%;
    border-radius: 5px;
}

.spending-day{
    text-align: center;
    color: var(--Medium-brown);
    margin: 5px 0;
    font-size: 1.1rem;
    font-weight: var(--light-weight);
}

.total-day-spending{
    display: none;
    text-align: center;
    background-color: var(--Dark-brown);
    color: var(--Very-pale-orange);
    padding: 5px 5px;
    border-radius: 3px;
    margin-bottom: 10px;
    font-size: 1.1rem;
    font-weight: var(--light-weight);
}

/* Test percentages */

.spending-percentage-fri{
    height: 10%;
}

.spending-percentage-sat{
    height: 18%;
}

.spending-percentage-sun{
    height: 23%;
}

/* Spending grafic end */

/* total month start */

/* total month end */
