:root{
    --Soft-red: hsl(10, 79%, 65%);
    --Cyan: hsl(186, 34%, 60%);
    --Dark-brown: hsl(25, 47%, 15%);
    --Medium-brown: hsl(28, 10%, 53%);
    --Cream: hsl(27, 66%, 92%);
    --Very-pale-orange: hsl(33, 100%, 98%);

    --light-weight: 400;
    --weight: 700;

    --small-size: 1.4rem;
    --medium-size: 1.6rem;
    --medium2-size1: 1.8rem;
    --big-size: 2rem;
    --bigger-size: 2.4rem
}

/* Balance start */

/* Balance end */

/* Spending grafic start */

.main--spending-grafic--section{
    background-color: var(--Very-pale-orange);
    border-radius: 10px;
}

.spending-grafic--title{
    color: var(--Dark-brown);
    font-size: var(--big-size);
    font-weight: 700;
    text-align: center;
}

.main--spending-grafic{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 10px;
    height: 300px;
}

.spending-grafic--item{
    display: flex;
    flex-direction: column;
}

.spending-percentage{
    background-color: var(--Soft-red);
    height: 90%;
}

.spending-day{
    text-align: center;
}

/* Spending grafic end */

/* total month start */

/* total month end */
