:root{
    --Soft-red: hsl(10, 79%, 65%);
    --Cyan: hsl(186, 34%, 60%);
    --Dark-brown: hsl(25, 47%, 15%);
    --Medium-brown: hsl(28, 10%, 53%);
    --Cream: hsl(27, 66%, 92%);
    --Very-pale-orange: hsl(33, 100%, 98%);

    --light-weight: 400;
    --weight: 700;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

html{
    font-size: 62.5%;
    height: 100%;
}

body{
    height: 100%;
    background-color: var(--Cream);
}

#main{
    width: 90%;
    margin: 0 auto;
}